$success: rgb(19, 207, 19);
$secondary: rgb(165, 165, 165);
$primary: rgb(121, 127, 182);
$danger: rgb(224, 115, 13);
$warning: rgb(55, 232, 245);
@import '../node_modules/bootstrap/scss/bootstrap.scss';